VITE_CLIENT_ID=xxxxx
VITE_CLIENT_SECRET=xxxxx
VITE_ESRI_API=xxxxx
# VITE_ARCGIS_PORTAL_URL=https://portal.local:7443/arcgis
# VITE_ARCGIS_PORTAL_USER=arcgis
# VITE_ARCGIS_PORTAL_PASSWORD=samplepassword