.viewDiv {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.legendContent {
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  .expandContent {
    max-width: 100% !important;
    width: 100% !important;
  }

  .expandIcon {
    display: none;
  }

  .expandIconExpanded {
    display: block;
  }

  .legendLayerCaption {
    font-size: 12px !important;
  }
}
